@model PrjPanifMVC.Models.TbMotoristum

@{
    ViewData["Title"] = "Cadastro de Motoristas";
}

<h1>Adicionar Cadastro de Motorista</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdMotorista" class="control-label">Código do Motorista</label>
                <input asp-for="IdMotorista" class="form-control" />
                <span asp-validation-for="IdMotorista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeMotorista" class="control-label">Nome do Motorista</label>
                <input asp-for="NomeMotorista" class="form-control" />
                <span asp-validation-for="NomeMotorista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar a Lista</a>
</div>

