@model PrjPanifMVC.Models.TbMotoristum

@{
    ViewData["Title"] = "Editar Cadastro";
}

<h1>Editar Cadastro</h1>

<h4>TbMotoristum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdMotorista" />
            <div class="form-group">
                <label asp-for="NomeMotorista" class="control-label">Nome do Motorista</label>
                <input asp-for="NomeMotorista" class="form-control" />
                <span asp-validation-for="NomeMotorista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn-primary">Retornar a lista</a>
            </div>
        </form>
    </div>
</div>


