@model PrjPanifMVC.Models.TbRotum

@{
    ViewData["Title"] = "Criar Rota";
}

<h1>Adicionar Rota</h1>

<h4>TbRotum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--<div class="form-group">
                <label asp-for="IdRota" class="control-label">Código da Rota</label>
                <input asp-for="IdRota" class="form-control" />
                <span asp-validation-for="IdRota" class="text-danger"></span>
            </div> -->
            <div class="form-group">
                <label asp-for="IdMotorista" class="control-label">Código Motorista</label>
                <select asp-for="IdMotorista" class ="form-control" asp-items="ViewBag.IdMotorista"></select>
            </div>
            <div class="form-group">
                <label asp-for="Periodo" class="control-label">Período da Rota</label>
                <input asp-for="Periodo" class="form-control" />
                <span asp-validation-for="Periodo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-primary">Retornar a Lista</a>
            </div>
        </form>
    </div>
</div>



