@model PrjPanifMVC.Models.TbRotum

@{
    ViewData["Title"] = "Deletar";
}

<h1>Deletar Rota</h1>

<h3>Você tem certeza que deseja deletar esta rota?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Periodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMotoristaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMotoristaNavigation.IdMotorista)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdRota" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Retornar a Lista</a>
    </form>
</div>
