@model PrjPanifMVC.Models.TbRotum

@{
    ViewData["Title"] = "Resumo";
}

<h1>Resumo</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Periodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMotoristaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMotoristaNavigation.IdMotorista)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdRota">Editar</a> |
    <a asp-action="Index">Retornar a Lista</a>
</div>
