@model PrjPanifMVC.Models.TbCliente

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TbCliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label"></label>
                <input asp-for="IdCliente" class="form-control" />
                <span asp-validation-for="IdCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeCliente" class="control-label"></label>
                <input asp-for="NomeCliente" class="form-control" />
                <span asp-validation-for="NomeCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpfCnpj" class="control-label"></label>
                <input asp-for="CpfCnpj" class="form-control" />
                <span asp-validation-for="CpfCnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefoneContatoCliente" class="control-label"></label>
                <input asp-for="TelefoneContatoCliente" class="form-control" />
                <span asp-validation-for="TelefoneContatoCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoCliente" class="control-label"></label>
                <input asp-for="EnderecoCliente" class="form-control" />
                <span asp-validation-for="EnderecoCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoBairro" class="control-label"></label>
                <input asp-for="EnderecoBairro" class="form-control" />
                <span asp-validation-for="EnderecoBairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoCidade" class="control-label"></label>
                <input asp-for="EnderecoCidade" class="form-control" />
                <span asp-validation-for="EnderecoCidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoCep" class="control-label"></label>
                <input asp-for="EnderecoCep" class="form-control" />
                <span asp-validation-for="EnderecoCep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoUf" class="control-label"></label>
                <input asp-for="EnderecoUf" class="form-control" />
                <span asp-validation-for="EnderecoUf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoComplemento" class="control-label"></label>
                <input asp-for="EnderecoComplemento" class="form-control" />
                <span asp-validation-for="EnderecoComplemento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

